{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cadastrar_usuario.css' %}">
    <title>cadastro-usuário</title>
</head>

<body>
    <div class="container">
        <form id="contact" action="" method="post">
            {% csrf_token %}
            <h1>Sign up</h1>
            <fieldset>
                {{form_usuario.username.errors}}
                <label placeholder="username" type="text" tabindex="1" required autofocus></label>
                {{form_usuario.username}}
            </fieldset>
            <fieldset>
                {{form_usuario.password1.errors}}
                <input placeholder="password1" type="password1" tabindex="1" required autofocus>
                {{form_usuario.password1}}
            </fieldset>
            <fieldset>
                {{form_usuario.password2.errors}}
                <input placeholder="Confirm password2" type="password2" tabindex="1" required autofocus>
                {{form_usuario.password2}}
            </fieldset>
            <fieldset>  
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">cadastrar</button>
            </fieldset>
            <p class="message">Já tem cadastro? <a href="{% url 'login' %}">Login</a></p>
        </form>
    </div>
</body>

</html>