{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cadastrar_usuario.css' %}">
    <title>cadastro-usuário</title>
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form method="GET" class="login-form">
                <h1 id="sign">Sign up</h1>
                <input name="campo-nome-usuario" type="text" placeholder="username" />
                <input name="campo-email" type="email" placeholder="email" />
                <input name="campo-senha" type="password" placeholder="password" />
                <button>login</button>
                <p class="message">Já possuí cadastro? <a href="{% url 'login' %}">Login</a></p>
            </form>
        </div>
    </div>
</body>

</html>